html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #181616;
}

/* Cabeçalho */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
  background-color: #181616;
  box-shadow: 0px 0px 10px #fcdb5690;
  z-index: 1000;
  overflow: hidden;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.logo {
  width: 200px;   
  object-fit: contain;
  background-color: #181616;

}


.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 4rem;
  gap: 2rem;
}

.menu li a {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #D4AF37;
  background-color: #1E1C1C;
  border-radius: 6px;
  padding: 10px;
  transition: 0.5s ease;
}

.menu li a:hover {
  color: #181616;
  background-color: #d1b547;
  box-shadow: 0px 0px 10px #fcdb56;
}

main {
  display: grid;
  justify-content: center;
  margin-top: 92px;
}

/* Produtos */

#novidades {
  color: #d1b547;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  text-shadow: 0px 0px 3px #fcdb56;
  font-family: 'Lora', serif;
  text-align: center;
}

img {
  width: 200px;
}

.imagens {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.itens {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 40px;
}

.produtos {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #cccccc;
  background-color: #181616;
  box-shadow: 0px 0px 2px #a79e9e;
  border-radius: 10px;
  margin-top: 1rem;
  justify-content: center;
}

.info {
  color: #e2e2e2;
  font-size: 1.2rem;
}

.h2 {
  color: #D4AF37;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}

/* Sobre */

#sobre {
  color: #d1b547;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  text-shadow: 0px 0px 3px #fcdb56;
  font-family: 'Lora', serif;
  text-align: center;
}

.biografia {
  width: 1000px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
  align-items: center;
  padding: 40px;
  background-color: rgb(44, 41, 41);
  border: 1px solid #cccccc;
  box-shadow: 0px 0px 2px #a79e9e;
  border-radius: 10px;
}

.bio {
  font-size: 1.2rem;
  color: #e2e2e2;
}

.bola {
  max-width: 16rem;
  object-fit: cover;
  border: solid whitesmoke 1px;
  box-shadow: 0px 0px 8px #D4AF37;
  border-radius: 50%;
}

/* Contato */

#contato {
  color: #d1b547;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  text-shadow: 0px 0px 3px #fcdb56;
  font-family: 'Lora', serif;
  text-align: center;
}

.contact {
  width: 1000px;
  padding: 40px;
  background-color: rgb(44, 41, 41);
  border: 1px solid #cccccc;
  box-shadow: 0px 0px 2px #a79e9e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.local {
  color: #d1b547;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  text-shadow: 0px 0px 4px #ffffff;
}

.icones {
  display: flex;
  gap: 20px;
}

.redes {
  max-width: 4rem;
  object-fit: cover;
  transition: 0.8s ease;
  cursor: pointer;
  border-radius: 50%;
}

.redes:hover {
  border: 1px solid #cccccc;
  box-shadow: 0px 0px 2px #a79e9e;
  background-color: #fcdb56;
}

/* Rodapé */

footer {
  color: #a79e9e;
  display: flex;
  justify-content: center;
  margin-top: 180px;
  margin-bottom: 12px;
}

/* Responsivo */

@media (max-width: 768px) {
  
  
    .menu {
    flex-direction: column;
    gap: 10px;
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 120px;
  }

  .itens, .biografia, .contact {
    width: 80%;
    grid-template-columns: 1fr !important;
  }

  .bola {
    margin: 0 auto;
  }

  .bio {
    text-align: center;
  }
}
